In [2]:
var1=2
if var1>5:
    print("var1 is greater than 5")
else:
    print("var1 is smaller than 5")

var1 is smaller than 5

In [3]:
var1=3
if var1<5:
   print("hi")
   print("var1 is smaller than 5")
   print("bye")
   print("end if block")
elif var1 < 10:
    print("var1 is smaller  than 10")
else:
    print("var1 is greater than 10")

hi
var1 is smaller than 5
bye
end if block

In [4]:
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [8]:
range(0,5)

range(0, 5)

In [ ]:
range(start point,end point,incrementor)

In [7]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [11]:
str1="hi this is python session"
for i in str1:
    if i=='h':
        print(i)

h
h
h

In [14]:
len(str1)

25

In [18]:
for i in range(0,len(str1)):
        print(str1[i])
        i=i+2

h
i

t
h
i
s

i
s

p
y
t
h
o
n

s
e
s
s
i
o
n

In [20]:
for i in range(0,10):#0 1 2 3 4 5 6 7 8 9 
    #print(i)
    i=i+2
    print(i)

2
3
4
5
6
7
8
9
10
11

In [32]:
str2="I am learner"
print(str2[5])

l

In [34]:
str2="I am Xearner"
print(str2)

I am Xearner

In [ ]:
#strings are immutable python

In [29]:
str3="my name is shravan"
str3="my name is sky"
print(str3)

my name is sky

In [28]:
print(str3)

my name is sky

In [37]:
L1=[1,2,3,4,'strfdf','h']
print(L1)

[1, 2, 3, 4, 'strfdf', 'h']

In [38]:
L2=[1,2,3.00,'hida']

In [39]:
print(L2)

[1, 2, 3.0, 'hida']

In [40]:
for i in L2:
    print(i)

1
2
3.0
hida

In [41]:
list4=[1,2,3,4,4,'sdfsdf','hi','bye',3.14]

In [42]:
len(list4)

9

In [57]:
list4[8]

3.14

In [56]:
list4[5]

'sdfsdf'

In [55]:
list4[6]

'hi'

In [59]:
list(range(0,len(list4)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
for i in list4:
    print(i)

1
2
3
4
4
sdfsdf
hi
bye
3.14

In [60]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
for i in range(0,len(list4)):
    print(i)

0
1
2
3
4
5
6
7
8

In [45]:
for i in range(0,len(list4)):
    print(list4l[i])

1
2
3
4
4
sdfsdf
hi
bye
3.14

In [ ]:
range(start point,end point, incrementor=1)

In [62]:
list4

[1, 2, 3, 4, 4, 'sdfsdf', 'hi', 'bye', 3.14]

In [61]:
list4[7]

'bye'

In [63]:
list4[7]='tata'

In [64]:
list4

[1, 2, 3, 4, 4, 'sdfsdf', 'hi', 'tata', 3.14]

In [ ]:
#lists are mutable

In [69]:
string1='this is python session'

In [70]:
list10=list(string1)

In [71]:
list10

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 's',
 'e',
 's',
 's',
 'i',
 'o',
 'n']

In [72]:
list10[15]

's'

In [79]:
string2=''
for i in list10:
    string2=string2+i
print(string2)

this is python session

In [75]:
str4="hi"

In [76]:
str5="bye"

In [77]:
str5+str4

'byehi'

In [84]:
type(''.join(list10))

str

In [85]:
tuple1=(1,2,3,4,5,'hi','bye','kay')

In [86]:
print(tuple1)

(1, 2, 3, 4, 5, 'hi', 'bye', 'kay')

In [88]:
tuple1[5]

'hi'

In [89]:
tuple1[5]='hithis' # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [90]:
listtup=list(tuple1)

In [91]:
print(listtup)

[1, 2, 3, 4, 5, 'hi', 'bye', 'kay']

In [92]:
listtup[5]='hithis'

In [93]:
listtup

[1, 2, 3, 4, 5, 'hithis', 'bye', 'kay']

In [97]:
tuple1

(1, 2, 3, 4, 5, 'hi', 'bye', 'kay')

In [95]:
tuple2=('password1')

In [96]:
print(tuple2)

password1

In [ ]:
dictionaries