In [1]:
dict1={"Firstname":"shravan","lastname":"yadav","address":{1:"Noida",2:"India"}}

In [2]:
dict1["Firstname"]

'shravan'

In [5]:
dict1["address"][1]

'Noida'

In [6]:
list1=["shravan","yadav","Noida","India"]

In [7]:
list1[0]

'shravan'

In [10]:
list1[3]

'India'

In [11]:
dict2={"mylist":[1,2,'hi','bye'],"mylist2":[3,4,5,6,7]}

In [13]:
dict2["mylist"][3]

'bye'

In [14]:
dict3={"p1":{"p2":{"p3":{"p4":[1,2,3,4,5,6,7]}}}}

In [19]:
dict3["p1"]["p2"]["p3"]["p4"][4]

5

In [20]:
dict3["p4"]

KeyError: 'p4'

In [24]:
list1=[1,2,3,4,1,5,6,7,4,2]

In [25]:
set(list1)

{1, 2, 3, 4, 5, 6, 7}

In [26]:
tuple1=(1,2,3,4,1,2,3,4,4)

In [29]:
tuple(set(tuple1))

(1, 2, 3, 4)

In [32]:
def function1(i):
    return i**i

In [59]:
print(function1(5))

3125

In [38]:
k=lambda x:x**x

In [39]:
k(2)

4

In [41]:
k(10)

10000000000

In [44]:
j=lambda x:' Hi '+x

In [45]:
j('shravan')

' Hi shravan'

In [46]:
list1=[12,13,14,14,15,16,17,18]

In [51]:
list2=[]
for i in list1:
    print(i+1)
    list2.append(i+1)
print(list2)

13
14
15
15
16
17
18
19
[13, 14, 15, 15, 16, 17, 18, 19]

In [52]:
list3=[]
for i in range(0,len(list1)):
    #print(list1[i]+1)
    list3.append(list1[i]+1)
print(list3)

13
14
15
15
16
17
18
19
[13, 14, 15, 15, 16, 17, 18, 19]

In [53]:
list4=[ i+1 for i in list1 ]

In [54]:
print(list4)

[13, 14, 15, 15, 16, 17, 18, 19]

In [55]:
list5=[ list1[i]+1 for i in range(0,len(list1)) ]

In [56]:
list5

[13, 14, 15, 15, 16, 17, 18, 19]

In [58]:
list6=[1,2,3,4,5,6,7,8,9,10]

In [66]:
del list

In [75]:
map1=map(function1,list6)

In [76]:
list(map1)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [78]:
map2=map(lambda x:x**x,list6)
list(map2)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [79]:
filter1=filter(function1,list6)

In [80]:
list(filter1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
def filterfunc(i):
    if i%2==0:
        return True

In [83]:
filter1=filter(filterfunc,list6)

In [84]:
list(filter1)

[2, 4, 6, 8, 10]

In [88]:
list10=[ i for i in list6 if i%2!=0 ]

In [89]:
list10

[1, 3, 5, 7, 9]